/*== title ==*/
/* Backgrounds */
.background_post {
  background-image: url("/images/backgrounds/bg_post.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/*=============*/
.quote_text {
  position: absolute;
  font-size: 50px;
  color: rgba(205, 170, 124, 0.2);
  top: -9px;
  left: -23px;
}
/*sidebar*/
.formContact .fa {
  top: 18px;
  right: 18px;
}
/*============*/
